<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Senha</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="text-center absolute top-5 left-5 font-bold text-lg">CLAA - UFSC</div>
  <div class="w-full max-w-sm p-8 bg-white rounded-lg shadow-md">
    <h2 class="mb-6 text-2xl font-semibold text-gray-700">Recuperar Senha</h2>
    <form id="code-form">
      <div class="mb-4">
        <label class="block mb-2 text-sm font-medium text-gray-600" for="verification-code">Insira o código</label>
        <input class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" type="text" id="verification-code" required>
      </div>
      <div class="mb-4">
        <button type="submit" class="w-full px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:bg-blue-700" type="button" onclick="verifyCode()">Confirmar Código</button>
      </div>
    </form>
  </div>

  <script>
    document.getElementById('code-form').addEventListener('submit', function(event) {
      event.preventDefault(); // Prevent the form from submitting
      window.location.href = 'recover-password.html';  
    });

    function verifyCode() {
      // Add an AJAX request here to verify the code entered by the user
    }
  </script>
</body>
</html>
