<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CLAA - UFSC</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <!-- Header -->
  <header class="bg-blue-600 text-white py-4">
    <div class="container mx-auto flex justify-between items-center px-4">
      <h1 class="text-lg font-bold">CLAA - UFSC</h1>
      <div>
        <span class="mr-4">Olá, {{ name_claa }}</span>
        <a href="{{ url_for('auth.logout') }}" class="px-4 py-2 bg-white text-blue-600 rounded-lg inline-block">Sair</a>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <main class="container mx-auto px-4 py-8">
    <div class="flex flex-wrap py-16 justify-around">
      <!-- Consultar Tutores Card -->
      <div class="w-full max-w-sm p-6 mb-6 bg-white rounded-lg shadow-md flex flex-col justify-between">
        <div>
          <h3 class="mb-4 text-lg font-medium text-gray-700">Consultar Tutores</h3>
          <p class="mb-6 text-gray-600">Ver, editar e convidar tutores.</p>
        </div>
        <a href="/tutor" class="w-full block mt-auto">
          <button class="w-full px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:bg-blue-700">Consultar</button>
        </a>
      </div>

      <div class="w-full max-w-sm p-6 mb-6 bg-white rounded-lg shadow-md flex flex-col justify-between">
        <div>
          <h3 class="mb-4 text-lg font-medium text-gray-700">Transferir Grupo</h3>
          <p class="mb-6 text-gray-600">Transferir grupo para um tutor que não tem grupo.</p>
        </div>
        <a href="/transfer-group" class="w-full block mt-auto">
          <button class="w-full px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:bg-blue-700">Transferir</button>
        </a>
      </div>
    </div>
  </main>
</body>
</html>
