<!DOCTYPE html> <html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Articulação do Ensino, Pesquisa e Extensão</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex items-center py-16 justify-center min-h-screen bg-gray-100">
  <div class="text-center absolute top-5 left-5 font-bold text-lg">CLAA - UFSC</div>
  <div class="w-full max-w-2xl p-8 bg-white rounded-lg shadow-md">
    <h2 class="mb-2 text-xl font-semibold text-gray-700">Articulação do Ensino, Pesquisa e Extensão</h2>
    <p class="text-gray-600">Inserção de Atividades Programadas</p>
    <p class="mb-8 text-gray-500 text-sm">Preencher todas as atividades que foram inseridas no planejamento cadastrado no Sigpet.</p>

    <form id="activity-form" action="/submit-report-0" method="POST">
      <div id="activities-container">

        <div id="activity-0" class="activity-form relative">
          <button type="button" class="remove-activity absolute top-0 right-0 text-red-600 hover:text-red-800" aria-label="Remove Activity">
           Excluir Atividade &#x2716;  
          </button>

          <div class="mb-8">
            <label class="block mb-2 text-sm font-medium text-gray-600">Nome da atividade</label>
            <input name="name-0" class="activity-name w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" type="text" required>
          </div>

          <div class="mb-8">
            <label class="block mb-2 text-sm font-medium text-gray-600">Realização da atividade</label>
            <select name="carrying-out-0" class="tutor-status w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" required>
              <option value="" disabled selected>Selecione uma opção</option>
              <option value="full">Totalmente realizada.</option>
              <option value="partial">Parcialmente realizada.</option>
              <option value="not">Não realizada.</option>
            </select>
          </div>

          <div class="mb-8">
            <label class="block mb-2 text-sm font-medium text-gray-600">Horas Totais Investidas</label>
            <input name="total-hours-0" min="0" class="total-hours w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" type="number" required>
          </div>

          <div class="mb-8">
            <label class="block mb-2 text-sm font-medium text-gray-600">Classificação da Atividade</label>
            <div class="flex items-center mb-4">
              <input type="checkbox" class="ensino mr-2">
              <label class="mr-9 text-gray-600">Ensino</label>
              <input name="teaching-hours-0" min="0" class="ensino-number w-20 px-2 py-1 text-gray-700 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" type="number" value="0" disabled>
            </div>
            <div class="flex items-center mb-4">
              <input type="checkbox" class="pesquisa mr-2">
              <label class="mr-5 text-gray-600">Pesquisa </label>
              <input name="research-hours-0" min="0" class="pesquisa-number w-20 px-2 py-1 text-gray-700 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" type="number" value="0" disabled>
            </div>
            <div class="flex items-center mb-4">
              <input type="checkbox" class="extensao mr-2">
              <label class="mr-4 text-gray-600">Extensão</label>
              <input name="extension-hours-0" min="0" class="extensao-number w-20 px-2 py-1 text-gray-700 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" type="number" value="0" disabled>
            </div>

            <p class="incompatible-hours text-red-600" style="display:none">As horas somadas devem ser iguais as horas totais.</p>
          </div>
          <hr class="my-8 border-t border-gray-300">
        </div>
      </div>

      <button id="add-activity-btn" class="w-full px-4 py-2 mb-8 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:bg-blue-700" type="button">Adicionar Mais Atividades Programadas</button>
      <button class="w-full px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:bg-blue-700" type="submit">Prosseguir</button>

    </form>
  </div>

  <script>
    var activityCounter = 1;
    var validFlags = [];

    function checkHours(activityForm) {
      var total = Number(activityForm.querySelector('.total-hours').value);
      var ensino_hours = Number(activityForm.querySelector('.ensino-number').value);
      var pesquisa_hours = Number(activityForm.querySelector('.pesquisa-number').value);
      var extensao_hours = Number(activityForm.querySelector('.extensao-number').value);
      var partial_sum = ensino_hours + pesquisa_hours + extensao_hours;

      if (total == partial_sum) {
        activityForm.querySelector('.incompatible-hours').style.display = 'none';
        return true;
      } else {
        activityForm.querySelector('.incompatible-hours').style.display = 'block';
        return false;
      }
    }

    function addEventListeners(activityForm) {
      activityForm.querySelector('.total-hours').addEventListener('change', function() {
        updateValidFlags(activityForm);
      });

      activityForm.querySelector('.ensino-number').addEventListener('change', function() {
        updateValidFlags(activityForm);
      });

      activityForm.querySelector('.ensino').addEventListener('change', function() {
        var ensinoNumber = activityForm.querySelector('.ensino-number');
        ensinoNumber.disabled = !ensinoNumber.disabled;
        if (!activityForm.querySelector('.ensino').checked)
          ensinoNumber.value = 0;

        updateValidFlags(activityForm);
      });

      activityForm.querySelector('.pesquisa-number').addEventListener('change', function() {
        updateValidFlags(activityForm);
      });

      activityForm.querySelector('.pesquisa').addEventListener('change', function() {
        var pesquisaNumber = activityForm.querySelector('.pesquisa-number');
        if (!activityForm.querySelector('.pesquisa').checked)
          pesquisaNumber.value = 0;
        pesquisaNumber.disabled = !pesquisaNumber.disabled;

        updateValidFlags(activityForm);
      });

      activityForm.querySelector('.extensao-number').addEventListener('change', function() {
        updateValidFlags(activityForm);
      });

      activityForm.querySelector('.extensao').addEventListener('change', function() {
        var extensaoNumber = activityForm.querySelector('.extensao-number');
        if (!activityForm.querySelector('.extensao').checked)
          extensaoNumber.value = 0;
        extensaoNumber.disabled = !extensaoNumber.disabled;

        updateValidFlags(activityForm);
      });

      activityForm.querySelector('.remove-activity').addEventListener('click', function() {
        removeActivity(activityForm);
      });
    }

    function updateValidFlags(activityForm) {
      var activityIndex = parseInt(activityForm.id.split('-')[1]);
      validFlags[activityIndex] = checkHours(activityForm);
    }


    function addActivity() {
      var container = document.getElementById('activities-container');

      // Create a new activity div with all necessary classes and elements
      var newActivity = document.createElement('div');
      newActivity.id = 'activity-' + activityCounter;
      newActivity.classList.add('activity-form', 'relative');

      newActivity.innerHTML = `
          <button type="button" class="remove-activity absolute top-0 right-0 text-red-600 hover:text-red-800" aria-label="Remove Activity">
              Excluir Atividade &#x2716;
          </button>

          <div class="mb-8">
              <label class="block mb-2 text-sm font-medium text-gray-600">Nome da atividade</label>
              <input name="name-${activityCounter}" class="activity-name w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" type="text" required>
          </div>

          <div class="mb-8">
              <label class="block mb-2 text-sm font-medium text-gray-600">Realização da atividade</label>
              <select name="carrying-out-${activityCounter}" class="tutor-status w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" required>
                  <option value="" disabled selected>Selecione uma opção</option>
                  <option value="full">Totalmente realizada.</option>
                  <option value="partial">Parcialmente realizada.</option>
                  <option value="not">Não realizada.</option>
              </select>
          </div>

          <div class="mb-8">
              <label class="block mb-2 text-sm font-medium text-gray-600">Horas Totais Investidas</label>
              <input name="total-hours-${activityCounter}" min="0" class="total-hours w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" type="number" required>
          </div>

          <div class="mb-8">
              <label class="block mb-2 text-sm font-medium text-gray-600">Classificação da Atividade</label>
              <div class="flex items-center mb-4">
                  <input type="checkbox" class="ensino mr-2">
                  <label class="mr-9 text-gray-600">Ensino</label>
                  <input name="teaching-hours-${activityCounter}" min="0" class="ensino-number w-20 px-2 py-1 text-gray-700 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" type="number" value="0" disabled>
              </div>
              <div class="flex items-center mb-4">
                  <input type="checkbox" class="pesquisa mr-2">
                  <label class="mr-5 text-gray-600">Pesquisa </label>
                  <input name="research-hours-${activityCounter}" min="0" class="pesquisa-number w-20 px-2 py-1 text-gray-700 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" type="number" value="0" disabled>
              </div>
              <div class="flex items-center mb-4">
                  <input type="checkbox" class="extensao mr-2">
                  <label class="mr-4 text-gray-600">Extensão</label>
                  <input name="extension-hours-${activityCounter}" min="0" class="extensao-number w-20 px-2 py-1 text-gray-700 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" type="number" value="0" disabled>
              </div>

              <p class="incompatible-hours text-red-600" style="display:none">As horas somadas devem ser iguais as horas totais.</p>
          </div>
          <hr class="my-8 border-t border-gray-300">
      `;

      validFlags[activityCounter] = false;  // Initially set to false
      activityCounter++;

      addEventListeners(newActivity);
      container.appendChild(newActivity);
    }

    function removeActivity(activityForm) {
      var activityIndex = parseInt(activityForm.id.split('-')[1]);
      validFlags.splice(activityIndex, 1);  // Remove flag for this activity
      activityForm.remove();

      // Update IDs and reassign event listeners to keep the order correct
      var activityForms = document.querySelectorAll('.activity-form');
      activityForms.forEach((form, index) => {
        form.id = `activity-${index}`;
        validFlags[index] = validFlags[index] || false;  // Ensure validFlags array is still accurate
      });

      if (activityForms.length === 0) {
        activityCounter = 1;  // Reset counter to start from 1
      } else {
        activityCounter = activityForms.length;
      }
    }


    document.getElementById('add-activity-btn').addEventListener('click', addActivity);

    // Add event listeners to the initial activity form
    addEventListeners(document.getElementById('activity-0'));
    validFlags[0] = false;  // Initially set to false

    document.getElementById('activity-form').addEventListener('submit', function(event) {
      var allValid = validFlags.filter(flag => flag !== null).every(Boolean);

      if (!allValid) {
        event.preventDefault();
      }
    });
  </script>
</body>
</html>
