<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contribuição dos grupos para a seleção inclusiva de estudadantes</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex items-center py-16 justify-center min-h-screen bg-gray-100">

  <div class="text-center absolute top-5 left-5 font-bold text-lg">CLAA - UFSC</div>

  <div class="w-full max-w-2xl p-8 bg-white rounded-lg shadow-md">
    <h2 class="mb-2 text-xl font-semibold text-gray-700">Contribuição dos grupos para a seleção inclusiva de estudadantes</h2>
    <form action="report-5.html">
      <div>
        <div class="mb-8">
          <label class="block mb-2 text-sm font-medium text-gray-600">Descreva em até 1000 caracteres como o seu grupo PET realizou a seleção de bolsistas no presente ano, identificando estratégias para contemplar a diversidade da universidade.</label>
          <textarea style="resize:none" class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" maxlength="1000" rows="8" required></textarea>
        </div>
      </div>

      <div class="flex justify-between">
        <a href="report-3.html" class="w-1/2 mr-2 px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:bg-blue-700 text-center"><b>Voltar</b></a>
        <button class="w-1/2 ml-2 px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:bg-blue-700" type="submit">Prosseguir</button>
      </div>
        
    </form>
  </div>
</body>
</html>
