<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Consulta de Tutores</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex items-center py-16 justify-center min-h-screen bg-gray-100">
  <div class="text-center absolute top-5 left-5 font-bold text-lg">CLAA - UFSC</div>
  <div class="w-full max-w-4xl p-8 bg-white rounded-lg shadow-md">
    <h2 class="mb-4 text-2xl font-semibold text-gray-700">Consulta de Tutores</h2>

    <div class="overflow-x-auto mb-8">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nome</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status CLAA</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Grupo</th>
            <th class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">Ações</th>
          </tr>
        </thead>

        <tbody id="tutor-table-body" class="bg-white divide-y divide-gray-200">
          {% for user in users %}
          <tr>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ user.name }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ user.email }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              {% if user.status_claa == "no" %}
                Apenas tutor
              {% elif user.status_claa == "holder" %}
                Titular
              {% elif user.status_claa == "substitute" %}
                Suplente
              {% else %}
                {{ user.status_claa }}
              {% endif %}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              {% if user.group_name %}
                {{ user.group_name }}
              {% else %}
                No Group
              {% endif %}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
              {% if not user.group_name %}
                <button onclick="deleteTutor('{{ user.email }}')" class="text-red-600 hover:text-red-900">
                  &#10005;
                </button>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="mb-4 p-4 text-sm text-red-800 bg-red-100 border border-red-300 rounded-lg">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2 class="mb-4 text-xl font-semibold text-gray-700">Convidar Tutores</h2>
    <div class="mb-6">
      <form id="add-tutor-form" action="/invite-tutor" method="POST" class="flex items-center">
        <input id="email-input" type="email" name="email" placeholder="Digite o email do tutor" required class="w-3/4 px-3 py-2 mr-4 text-gray-700 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">
        <button type="submit" class="w-1/4 px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:bg-blue-700">Convidar</button>
      </form>
    </div>
      
    <!-- Botão Voltar no fundo -->
    <div class="mt-8">
      <a href="/panel-claa" class="w-full block px-4 py-2 text-white text-center bg-gray-600 rounded-lg hover:bg-gray-700 focus:outline-none focus:bg-gray-700">Voltar</a>
    </div>

  </div>
  <script>
    function deleteTutor(email) {
      if (confirm('Are you sure you want to delete this tutor?')) {
        fetch(`/delete-tutor/${email}`, {
          method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            // Reload the page to refresh the tutor list
            window.location.reload();
          } else {
            alert(data.message);
          }
        })
        .catch(error => {
          console.error('Error deleting tutor:', error);
          alert('An error occurred while trying to delete the tutor.');
        });
      }
    }
  </script>
</body>
</html>
